.indicador {
	
}

.indicador .count {
	background: #fb652b;
    border-radius: 2px;
    color: #FFF;
    display: inline-block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    line-height: 35px;
}

.indicador button {
	vertical-align: top;
}

.indicador button:not(.submit) {
    font-size: 15px;
}

.indicador .submit {
    width: 89px;
    height: 39px;
}

.indicador .modal {
	background: #FFF;
    border: 1px solid #EEE;
    border-radius: 4px;
    display: none;
    margin-top: -54px;
    padding: 5px;
    position: absolute;
    width: 306px;
}

.feedback {
    display: none;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

.feedback.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.feedback.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}





















